<div class="shadow-xl p-10" style="border-radius:20px">
<h2 class="ml-5 mt-10 inline-img text-xl font-semibold">{{heading}}</h2>
                  <svg class="w-6 h-6 inline-img" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7l4-4m0 0l4 4m-4-4v18"></path></svg>
                  <div>
                  <h1 class="ml-5 text-4xl font-bold mt-5">{{number}}</h1>
          
                  <h1 class="text-center text-white bg-blue-700 rounded-full h-12 mt-5 pt-3 text-lg font-semibold">Know more....</h1>

                </div>
</div>