<div class="p-5 rounded-xl bg-white">
    <h1 class="text-2xl font-bold">{{channel}}</h1>
    <p class="text-blue-600">{{name}}</p>
    <img src={{image}} alt="" class="mt-5">
    <h1 class="mt-8 text-base font-bold">{{content}}</h1>
    <p class="text-blue-700">{{hashtags}}</p>
    <hr>
    <img src="thumb-down.png" alt="" class="inline-img ml-16 mt-5">
    <img class="inline-img mt-5" src="https://img.icons8.com/color/48/000000/thumb-up.png"/>
</div>