
<figure class="pie-chart shadow-2xl" style="border-radius: 25px">
    <h1 class="text-xl font-semibold ml-5 mt-5">{{name}}</h1>
<h1 class="text-4xl font-bold ml-5 mt-5">{{number}}</h1>
	<figcaption>
		Instagram<span style="color:#1c539b"></span><br>
		Facebook<span style="color:#bd2cf2"></span><br>
		Youtube<span style="color:#56e192"></span><br>
		Snapchat<span style="color:#e89cbe"></span><br>
		TikTok<span style="color:#ef0b0f"></span>
	</figcaption>
</figure>