@layout('layouts.campaign')
@section('section')
  @!component('components.campaign-card' , imglogo="/dashboard/bikaner.jpg", title="Yogaday Campaign", date="21 June2020", time="01:46 PM", cardImg="/campaign/campaign_Img2.png", onlyDate="12", onlyMonth="APR", caption="#Yoga is as old as India",likeImg="/campaign/image.png")
@endsection
@section('div')
@!component('components.campaign-card' , imglogo="/dashboard/bikaner.jpg", title="Yogaday Campaign", date="21 June2020", time="01:46 PM", cardImg="/campaign/campaign_Img2.png", onlyDate="12", onlyMonth="APR", caption="#Yoga is as old as India", likeImg="/campaign/image.png")
@endsection
@section('div 1')
@!component('components.campaign-card' , imglogo="/dashboard/bikaner.jpg", title="Yogaday Campaign", date="21 June2020", time="01:46 PM", cardImg="/campaign/campaign_Img2.png", onlyDate="12", onlyMonth="APR", caption="#Yoga is as old as India", likeImg="/campaign/image.png")
@endsection